{{ define "login" }}
<main class="form-signin m-auto h-100 d-flex align-items-center justify-content-center">
  <form hx-post='{{ .c.URL "login" }}' enctype="multipart/form-data">
    <!-- hx-push-url="true" hx-target="body" -->
    {{ template "csrf" . }}
    <h1 class="h3 mb-3 fw-normal">Sing in 🚪</h1>
    {{ template "alert" . }}
    <div class="form-floating">
      <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150"
        required="" id="id_username" class="form-control" placeholder="Login" value="{{ .Username }}" />
      <label for="floatingInput">Username ➡</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" autocomplete="current-password" required="" id="id_password"
        class="form-control" placeholder="Password" />
      <label for="floatingPassword">Password 🔒</label>
    </div>
    <button class="btn btn-outline-primary w-100 py-2" type="submit">
      Login 🔑
    </button>
  </form>
</main>
{{ end }}