html,
body {
  height: 100%;
}

/*
.form-signin {
  min-width: 1000px;
  padding: 1rem;
}
*/

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  min-width: 330px;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  min-width: 330px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}