{{define "base"}}
<html data-bs-theme="dark" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#712cf9">
  <title>{{.Title}}</title>
  <link rel="shortcut icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💵</text></svg>">
  <!-- <link rel="shortcut icon" href="/static/favicon.ico"> -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/sign-in.css" rel="stylesheet">
  <link href="/static/css/theme.css" rel="stylesheet">
</head>

<body>
  {{ embed }}
  {{template "theme" . }}
  <script type="text/javascript" src="/static/js/color-modes.js" defer></script>
  <script type="text/javascript" src="/static/js/popper.min.js" defer></script>
  <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js" defer></script>
  <script type="text/javascript" src="/static/js/htmx.min.js" defer></script>
  <script type="text/javascript">
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ .c.Csrf }}';
      if (event.detail['verb'] !== 'get') {
        event.detail.unfilteredParameters['csrf'] = '{{ .c.Csrf }}';
      }
    })
  </script>
</body>

</html>
{{end}}